<td>
        {{#each individual in controllers.loot.p}}
            <table class="individual">
                <caption>{{individual.name}}</caption>
                <tr>
                    <td class='data'>{{individual.amount}}</td>
                </tr>
            </table>
        {{/each}}
</td>