@import "compass/reset";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/box-sizing";

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  @include box-sizing(border-box);
}

@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

@mixin letterpress($opacity){
  text-shadow:white($opacity) 0 1px 0;
}

@mixin inset-text {
  color: #344251;
  text-shadow: 1px 1px 0px #bad3ed;
  font-weight: bold;
}

html{
//  font-size: 62.5%;
  font-family: 'Lato', sans-serif;
}


input {
  width: 100%;
  height: 40px;
//  margin-bottom: 25px;
//  margin-top: 5px;
  padding: 0 15px 2px;
  font-size: 17px;
  background: white;
  border: 2px solid #ebebeb;
  border-radius: 4px;
  @include box-shadow(inset 0 -1px #ebebeb);

  &:focus {
    border-color: #62c2e4;
    outline: none;
    @include box-shadow(inset 0 -2px #62c2e4);
  }

  .lt-ie9 & { line-height: 48px; }
}

button {
  position: relative;
//  vertical-align: top;
  width: 100%;
  height: 54px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(black, .25);
  background: #f0776c;
  border: 0;
  border-bottom: 2px solid #d76b60;
  border-radius: 5px;
  cursor: pointer;
  @include box-shadow(inset 0 -2px #d76b60);

  &:active {
    top: 1px;
    outline: none;
    @include box-shadow(none);
  }
}


.nav-bar{
  background: #393939;
  height: 40px;
  line-height: 42px;
  padding-left: 10px;
  margin-bottom: 15px;
  color: white;
  font-weight: bold;
  font-size: 110%;
  font-family: 'La Belle Aurore', cursive;
  @include box-shadow(0 2px 2px darken(#393939, 15%));

}

/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}


.width-type-1 {
  th:nth-of-type(1), td:nth-of-type(1) { width: 35%; }
  th:nth-of-type(2), td:nth-of-type(2) { width: 35%; }
  th:nth-of-type(3), td:nth-of-type(3) { width: 30%; }
}

.width-type-2 {
  th:nth-of-type(1), td:nth-of-type(1) { width: 50%; }
  th:nth-of-type(2), td:nth-of-type(2) { width: 50%; }
}


.border {
//  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(228, 228, 228, 0.5);
//  box-shadow: inset 0 1px 0  rgb(240, 241, 241);
  margin: 0;
}

caption {
  font-weight: bold;
  color: white;
  padding:15px 0px;
  text-align: center;
  @include border-radius(4px, 4px);
  @include letterpress(0.5);
}

.header{
  padding-bottom:5px;
}



.form{
  input{
    margin-bottom: 20px;
  }
}


.individual {
  margin-bottom: 10px;

  caption {
    background-color: #297963;
  }

  .data {
    text-align: center;
    font-size: xx-large;
  }
}

.title {
  font-size: 16px;
  font-weight: bold;
  color: #aaa;
  width: 40%;
  float: left;
}


table{
  width: 100%;
  border-collapse: separate;
  border-spacing: 30px;
  table-layout: fixed;
}

td{
  vertical-align: top;
}

.loot {
  th:nth-of-type(1), td:nth-of-type(1) { width: 100%; }
  th:nth-of-type(2), td:nth-of-type(2) { width: 100%; }
  border-spacing: 0px 15px;
  table-layout: auto;

  caption {
    background-color: #73cdd0;
  }

  .data{
    color: #464646 ;
    text-align: center;
    width: 60%;
  }

}

.width-type-2 {
  th:nth-of-type(1), td:nth-of-type(1) { width: 50%; text-align: center;}
  th:nth-of-type(2), td:nth-of-type(2) { width: 50%; text-align: center;}
  .data{
    font-size: xx-large;
  }
}


/*  GO FULL WIDTH AT LESS THAN PIXELS */

@media only screen and (max-width: 680px) {

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr, caption {
    display: block;
  }

  table{
    padding: 20px;
  }

  .form{
    margin-bottom: 30px;
  }

  .loot{
    padding: 0px;
    margin-bottom: 30px;
    td{
      text-align: center;
      word-wrap: break-word;
    }

    .data{
      margin-bottom: 10px;
    }
  }

  .individual{
    padding: 0px;
    margin-bottom: 30px;
  }


  .width-type-1 {
    th:nth-of-type(1), td:nth-of-type(1) { width: 100%; }
    th:nth-of-type(2), td:nth-of-type(2) { width: 100%; }
    th:nth-of-type(3), td:nth-of-type(3) { width: 100%; }
  }

  .width-type-2 {
    th:nth-of-type(1), td:nth-of-type(1) { width: 100%;}
    th:nth-of-type(2), td:nth-of-type(2) { width: 100%;}
    td{
      margin-bottom: 20px;
    }
  }



caption{
  margin-bottom: 10px;
  padding: 5px;
}

  input{
    margin-bottom: 20px;
  }

  .section{
    margin-bottom: 30px;
  }


}

//alert

.main-layer {
  position: absolute;
  z-index: 100;
  width: 100%;
  background: rgba(0, 0,0 , .8);
//  background-color: #999999;
}

.layer {
  @extend .main-layer;
  height: 0;
  top: 40px;
}


.lightbox{
  position:absolute;
  top: 70px;
  left: 10%;
  z-index: 1000;
  width: 80%;
  margin: 0 auto;
  padding: 25px 15px 10px 15px;
  background-color: #fff;
  text-align: center;
//  @extend .wrapping-shadow;
//  @include box-sizing(border-box);
}


.invisible-layer {
//  position: relative;
  z-index: 1;
  width: 100%;
  background: transparent;
}

.text-content {
  margin-bottom: 30px;
}

#alert-title{
  margin: -25px -15px 25px;
  padding: 15px 25px;
  line-height: 35px;
  font-size: 26px;
  color: #aaa;
  font-weight: 300;
  text-shadow: 0 1px rgba(white, .75);
  background: #f7f7f7;
}

#alert-text{
  line-height: 25px;
}




.icon {
  position: relative;
  width:16px;
  height:16px;
  display: inline-block;
  margin-left: 10px;
  &:hover{
    background-color: #0000ff;
  }
}


.icon-help {
  background-color: #000;
  border-radius:9px;
  -webkit-border-radius:9px;
  -moz-border-radius:9px;
  width: 18px;
  height: 17px;
  position: relative;
  top:0;
  left:0;
  color:white;
  text-align: center;
}

