<div class="col span_1">
        <p>Loot Name</p>
        <p>{{view Ember.TextField valueBinding="view.name"}}</p>
        <p>Bank Balance Changed</p>
        <p>{{view LazySplit.NumericTextField type="number" valueBinding="view.bankBalanceChanged"}}</p>
        <p>People In Split</p>
        <p>{{view Ember.TextField placeholder="person1, person2, person3, ..." valueBinding="view.peopleInSplit"}}</p>
        <p><button {{action "addLoot" target="view"}}>Add</button></p>
</div>